{% load i18n %}
{% load l10n %}
{% load static %}
{% load website_extras %}
{% get_media_prefix as MEDIA_PREFIX %}
<form action="{% url 'set_language' %}" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="{% url_no_i18n 'index' %}" />
<select name="language">
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
  {{ language.name_local }} ({{ language.code }})
</option>
{% endfor %}
</select>
<input type="submit" value="Go" />
</form>

<h3>{% trans 'Technical Skills' %}</h3>
<ul>
  {% for category in tech_skill_category_list %}
  <li>
    <h4>{{ category.label }}</h4>
    <ul>
    {% for skill in category.list %}
    <li>
      <span>{{ skill.name }}</span>
      {% if skill.icon %}<img src='{{ MEDIA_PREFIX }}{{ skill.icon }}'/>{% endif %}
    </li>
    {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

<h3>
{% blocktrans count counter=skill_list|length %}
  Skill{% plural %}Skills
{% endblocktrans %}
</h3>
<ul>
    {% for skill in skill_list %}
    <li>{{ skill.translation.description }}</li>
    {% endfor %}
</ul>

<h3>
{% blocktrans count counter=experience_list|length %}
  Experience{% plural %}Experiences
{% endblocktrans %}
</h3>
<ul>
    {% for exp in experience_list %}
    <li>
      <h4>
        <span>{{ exp.employer }}</span>
        - <span>{{ exp.translation.title }}</span>
        <span>{{ exp.year_from }} -
          {% if exp.year_to %}{{ exp.year_to }}{% else %}{% trans 'now' %}
          {% endif %}</span>
      </h4>
      <ul>
      {% for task in exp.translation.experiencetask_set.all %}
        <li>{{ task.description }}</li>
      {% endfor %}
      </ul>
    </li>
    {% endfor %}
</ul>


<h3>
{% blocktrans count counter=extra_list|length %}
  Hobby and Activity{% plural %}Hobbies and Activities
{% endblocktrans %}
</h3>
<ul>
    {% for extra in extra_list %}
    <li>
      <span>{{ extra.translation.name }}</span>
      {% if extra.translation.description %}
      <p>{{ extra.translation.description }}</p>
      {% endif %}
    </li>
    {% endfor %}
</ul>
